@font-face {
    font-family: 'Jackpot';
    src: url('/fonts/Jackpot.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.body {
    min-height: 100vh; 
    background: radial-gradient(circle, #354c51, #0c0d11 60%);
    overflow: hidden;
    position: relative;
}

.heroTexture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 70%);
    z-index: 5;
    pointer-events: none;
}

@keyframes movePoints {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100vw);
    }
}

.point {
    position: absolute;
    filter: blur(6px);
    border-radius: 50%;
    animation: movePoints linear infinite;
    z-index: 2;
}

.point.small {
    width: 5px;
    height: 5px;
}

.point.medium {
    width: 10px;
    height: 10px;
}

.point.large {
    width: 15px;
    height: 15px;
}

/* Cores */
.brown {
    background-color: #975d30;
}

.white {
    background-color: rgba(255, 255, 255, 0.8);
}

.heroKidContainer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-height: 50vh;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

/* Define a animação de escrita */
@keyframes typeAnimation {
    from {
        width: 0;
        visibility: hidden;
    }
    to {
        width: 100%;
        visibility: visible;
    }
}

.heroText {
    font-family: 'Jackpot', sans-serif;
    color: white;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: -40px;
    position: relative;
    z-index: 4;
    line-height: 1.6;
    text-transform: uppercase;
    white-space: nowrap;
}

/* Aplica a animação de escrita a cada linha */
.heroText span {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    visibility: hidden;
    animation: typeAnimation 2s steps(20, end) forwards;
}

/* Atraso para que cada linha seja animada após a anterior */
.heroText .line1 {
    animation-delay: 0s;
}
.heroText .line2 {
    animation-delay: 2s;
}
.heroText .line3 {
    animation-delay: 4s;
}

/* Animação do foguete em zigue-zague */
@keyframes zigzagMove {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(-20px, -100px);
    }
    50% {
        transform: translate(20px, -200px);
    }
    75% {
        transform: translate(-20px, -300px);
    }
    100% {
        transform: translate(50px, -400px);
    }
}

.heroFoguetinho {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    visibility: hidden;
    z-index: 6;
    animation: zigzagMove 4s ease-in-out forwards;
    animation-delay: 6s;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    .heroText {
        font-size: 2rem;
        line-height: 1.4;
        margin-bottom: -30px;
    }
}

@media (max-width: 480px) {
    .heroText {
        font-size: 1.8rem;
        line-height: 1.63;
        margin-bottom: -20px;
    }
}

.heroKid {
    max-width: 100%;
    max-height: 70vh;
    height: auto;
    object-fit: contain;
    z-index: 4;
}
