@font-face {
    font-family: 'Jackpot';
    src: url('/fonts/Jackpot.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DMSans';
    src: url('/fonts/DMSans-Regular.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

.body {
    min-height: 100vh; 
    background: url("/images/hero_background.webp") no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}

.heroKidContainer {
    flex-shrink: 0;
}

.heroText {
    margin-bottom: auto; 
}

.heroTexture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 70%);
    z-index: 5;
    pointer-events: none;
}

@keyframes movePoints {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100vw);
    }
}

.point {
    position: absolute;
    filter: blur(6px);
    border-radius: 50%;
    animation: movePoints linear infinite;
    z-index: 2;
}

.point.small {
    width: 5px;
    height: 5px;
}

.point.medium {
    width: 10px;
    height: 10px;
}

.point.large {
    width: 15px;
    height: 15px;
}

/* Cores */
.brown {
    background-color: #975d30;
}

.white {
    background-color: rgba(255, 255, 255, 0.8);
}
.heroKidContainer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-height: 50vh;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.heroText {
    font-family: 'Jackpot', sans-serif;
    color: white;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: -40px;
    position: relative;
    z-index: 4;
    line-height: 1.6;
    text-transform: uppercase;
    white-space: nowrap;
    display: inline-block; /* To allow the rocket to be next to line3 */
}


.heroText .line3 {
    display: inline-flex;
    align-items: center;
}

@keyframes rocketLaunch {
    0% {
        transform: translate(-50%, 50%) rotate(0deg);
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    50% {
        transform: translate(0, -150px) rotate(45deg);
    }
    100% {
        transform: translate(0, 0) rotate(35deg); 
    }
}

.heroFoguetinho {
    margin-left: 8px;
    width: 60px;
    height: auto;
    z-index: 5;
    transform: rotate(35deg);
    animation: rocketLaunch 1.5s ease-out forwards; /* Inicia a animação ao carregar */
}

@media (max-width: 768px) {
    .heroText {
        font-size: 2rem;
        line-height: 1.4;
        margin-bottom: -30px;
    }

    .heroFoguetinho {
        width: 40px; 
        margin-left: 5px;
    }
}

@media (max-width: 480px) {
    .heroText {
        font-size: 1.8rem;
        line-height: 1.63;
        margin-bottom: -20px;
    }

    .heroFoguetinho {
        width: 40px; 
        margin-left: 5px;
    }
}

.heroKid {
    max-width: 100%;
    max-height: 70vh;
    height: auto;
    object-fit: contain;
    z-index: 4;
}

.heroLua {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 6; /* Ensure it appears above other elements */
    animation: float 2s ease-in-out infinite; /* Floating animation */
    display: none; /* Initially hidden */
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
        transform: rotate(-3deg);
    }
    50% {
        transform: translateY(-10px); /* Float up */
        transform: rotate(2deg);
    }
}

@media (min-width: 1024px) {
    .heroLua {
        display: block;
    }
}

.heroPlanet {
    position: absolute;
    top: 10px;
    left: 10px; 
    z-index: 6;
    animation: floatPlanet 3s ease-in-out infinite; 
    display: none; 
    width: 150px;
}

@keyframes floatPlanet {
    0%, 100% {
        transform: translateY(0);
        transform: rotate(3deg);
    }
    50% {
        transform: translateY(-8px); /* Flutua para cima */
        transform: rotate(-2deg);
    }
}

@media (min-width: 1024px) {
    .heroPlanet {
        display: block; 
    }
}

.heroPhrases {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 4;
    color: white;
    font-family: "Lato", "sans-serif";
    width: 100%;
}

.heroPhrase1 {
    font-weight: lighter;
    letter-spacing: 1.3rem; 
    font-size: .8rem;
    margin-bottom: 10px;
    font-family: "Arial", "sans-serif";
}

.heroPhrase2 {
    font-size: 1rem;
    white-space: pre-wrap; /* Preserve line breaks */
    font-family: "Lato", "sans-serif";
    letter-spacing: 2px;
    line-height: 1.3rem;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}

.heroPhrase2:hover {
    color: #ffcc00; /* Change to a bright yellow color on hover */
}


@media (max-width: 768px) {
    .heroPhrase1 {
        font-size: .8rem;
        letter-spacing: 1.3rem;
    }
    
    .heroPhrase2 {
        font-size: 1rem;
        line-height: 1.3rem;
    }
}

@media (max-width: 480px) {
    .heroPhrase1 {
        font-size: 0.5rem;
        letter-spacing: 0.6rem;
    }
    
    .heroPhrase2 {
        font-size: 0.8rem;
        line-height: 1rem;
    }
}


.heroText .line3 {
    display: inline-flex;
    align-items: center;
    font-size: 3rem;
}

.heroText .line1 {
    display: inline-flex;
    align-items: center;
    font-size: 4rem;
}

.starAndRocketContainer {
    display: inline-flex;
    align-items: center;
    position: relative; /* Necessary to position stars relative to the text */
}

.heroStar {
    position: absolute;
    z-index: 7;
    animation: pulse 2s ease-in-out infinite; /* Pulsating animation */
    width: 25px;
    transform-origin: center;
}

.star1 {
    top: 20px;  
    left: -450px; 
}

.star2 {
    top: -190px; 
    left: -180px; 
}

.star3 {
    top: -120px; 
    right: -40px; 
}

@media (max-width: 768px) {
    .heroFoguetinho {
        width: 50px; 
        margin-left: 5px;
    }

    .heroStar {
        width: 20px; 
    }
    .star1 {
        top: 10px;  
        left: -360px; 
    }
    .star2 {
        top: -170px; 
        left: -140px; 
    }
    .star3 {
        top: -100px; 
        right: -40px; 
    }

    .heroText {
        line-height: 3.5rem;
    }

    .heroText .line3 {
        display: inline-flex;
        align-items: center;
        font-size: 2.5rem;
    }
    
    .heroText .line1 {
        display: inline-flex;
        align-items: center;
        font-size: 3.5rem;
    }
}

@media (max-width: 480px) {
    .heroFoguetinho {
        width: 40px; /* Further adjust size */
        margin-left: 5px;
    }

    .heroStar {
        width: 15px;
    }
    .star1 {
        top: 10px;  
        left: -320px; 
    }
    .star2 {
        top: -155px; 
        left: -130px;
    }
    .star3 {
        top: -100px; 
        right: -30px; 
    }
    .heroText {
        line-height: 3.5rem;
    }

    .heroText .line3 {
        display: inline-flex;
        align-items: center;
        font-size: 2.1rem;
    }

    .heroText .line2 {
        display: inline-flex;
        align-items: center;
        font-size: 1.75rem;
    }    
    
    .heroText .line1 {
        display: inline-flex;
        align-items: center;
        font-size: 2.9rem;
    }
}


@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 0.8;
    }
    50% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0.8;
    }
}




/* Diminuindo o min-height conforme a tela aumenta */
@media (min-height: 750px) {
    .body {
        min-height: 90vh; /* Tela acima de 750px de altura */
    }
}

@media (min-height: 900px) {
    .body {
        min-height: 90vh; /* Tela acima de 900px de altura */
    }
}

@media (min-height: 1200px) {
    .body {
        min-height: 70vh; /* Tela acima de 1200px de altura */
    }
}

/* Continuação para telas muito grandes */
@media (min-height: 1500px) {
    .body {
        min-height: 60vh; /* Tela acima de 1500px de altura */
    }
}

@media (min-height: 1800px) {
    .body {
        min-height: 50vh; /* Tela acima de 1800px de altura */
    }
}