@font-face {
  font-family: 'DMSans';
  src: url('/fonts/DMSans-Regular.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.missionSection {
  position: relative;
  text-align: center;
  background-color: #fff;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza horizontalmente */
  justify-content: center; /* Centraliza verticalmente */
  font-family: 'DMSans';
  width: 100%;
}

.quoteTop {
  position: absolute;
  top: 0px;
  left:5px;
  width: 50px;
  opacity: 65%;
}

.quoteBottom {
  position: absolute;
  bottom: 0px;
  right: 5px;
  width: 50px;
  opacity: 65%;
}

.contentWrapper {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.missionTitle {
  color: #0c69b4;
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 20px;
  text-align: center;
  opacity: 65%;
  margin-top: 30px;
}

.imageContainer {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  opacity: 0; /* Inicialmente invisível */
}

.animate .imageContainer {
  animation: fadeInUp 1s ease-out forwards;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.imageWrapper {
  border-radius: 15px;
  overflow: hidden;
}

.imageOne {
  margin-top: 10px;
}

.imageTwo {
  margin-top: -22px;
}

.imageThree {
  margin-top: -10px;
}

.image {
  border-radius: 15px;
}

.mainTitle {
  color: #222;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.3;
  max-width: 70%;
  margin: 0 auto; 
  text-align: center;
}

.break {
  display: block;
}

.description {
  margin-top: 40px;
  color: #555;
  font-size: 1rem;
  line-height: 1.5;
  max-width: 900px;
  text-align: justify;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .mainTitle {
    color: #222;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    line-height: 1.2;
    max-width: 100%;
  }
  .missionTitle {
    font-size: 1.5rem;
    margin-bottom: 0px;
  }
}

@media (max-width: 640px) {
  .imageOne {
    margin-top: 10px;
    margin-left: 50px;
  }
  
  .imageTwo {
    margin-top: -20px;
    margin-right: 50px;
  }
  
  .imageThree {
    margin-top: -20px;
    margin-left: 25px;
  }
}

@media (max-width: 480px) {
  .mainTitle {
    color: #222;
    font-size: 1rem;
    font-weight: bold;
    max-width: 100%;
    margin-bottom: 20px;
    line-height: 1.2;
  }

  .missionTitle {
    font-size: 1.8rem;
  }

  .description {
    font-size: 0.8rem;
  }
}

@media (max-width: 350px) {
  .imageOne {
    margin-top: 10px;
    margin-left: 0px;
  }
  
  .imageTwo {
    margin-top: -20px;
    margin-right: 0px;
  }
  
  .imageThree {
    margin-top: -20px;
    margin-left: 0px;
  }
  
}